/* Color Theme: BEATUMN */
/*  
    To update themes run following command
    <sass --update themes:themes>
    from css directory
*/
body {
  background-color: #f29f05; }

#byTDP {
  color: #323418; }

h1 {
  color: #070300; }

.optionBtn {
  background-color: #f27405;
  color: #323418;
  border: 1px solid transparent; }

.optionBtn:hover, .optionBtn:focus {
  background-color: #323418 !important;
  color: #f27405 !important;
  border: 1px solid transparent !important; }

#infoContainer {
  margin: 10px; }

.infoLink {
  color: #070300;
  font-weight: bold; }

.infoLink:hover {
  color: #323418; }

#tabs > li > a {
  outline: 0; }

#tabs > li.active > a:hover {
  box-shadow: none; }

/*Additional Info Color*/
div.fancy-select {
  color: #323418; }

/*Shadow on Focus*/
div.fancy-select select:focus + div.trigger {
  box-shadow: 0 0 0 2px #323418; }

/*Trigger-Element*/
div.fancy-select div.trigger {
  background: #323418;
  border: 1px solid #323418;
  border-top-color: #323418;
  color: #f27405; }

/*Dropdown Arrow*/
div.fancy-select div.trigger:after {
  border-top-color: #f27405; }

/*Open Trigger-Element*/
div.fancy-select div.trigger.open {
  background: #323418;
  border: 1px solid #323418;
  color: #8c4303;
  box-shadow: none; }

/*Drodpdown Arrof if Trigger-Element is open*/
div.fancy-select div.trigger.open:after {
  border-top-color: #8c4303; }

/*Option Container (List of lis)*/
div.fancy-select ul.options {
  background: #f27405; }

/*Option Color (li color)*/
div.fancy-select ul.options li {
  color: #323418; }

/*li selected / Option Selected*/
div.fancy-select ul.options li.selected {
  background: #323418;
  color: #f27405; }

/*li font-color on hover*/
div.fancy-select ul.options li.hover {
  background-color: #323418;
  color: #f29f05; }
