/* Color Theme: LUCERNE */
/*  
    To update themes run following command
    <sass --update themes:themes>
    from css directory
*/
body {
  background-color: #a79174; }

#byTDP {
  color: #7b7765; }

h1 {
  color: #4c5859; }

.optionBtn {
  background-color: #ccbf9c;
  color: #7b7765;
  border: 1px solid transparent; }

.optionBtn:hover, .optionBtn:focus {
  background-color: #7b7765 !important;
  color: #ccbf9c !important;
  border: 1px solid transparent !important; }

#infoContainer {
  margin: 10px; }

.infoLink {
  color: #4c5859;
  font-weight: bold; }

.infoLink:hover {
  color: #7b7765; }

#tabs > li > a {
  outline: 0; }

#tabs > li.active > a:hover {
  box-shadow: none; }

/*Additional Info Color*/
div.fancy-select {
  color: #7b7765; }

/*Shadow on Focus*/
div.fancy-select select:focus + div.trigger {
  box-shadow: 0 0 0 2px #7b7765; }

/*Trigger-Element*/
div.fancy-select div.trigger {
  background: #7b7765;
  border: 1px solid #7b7765;
  border-top-color: #7b7765;
  color: #ccbf9c; }

/*Dropdown Arrow*/
div.fancy-select div.trigger:after {
  border-top-color: #ccbf9c; }

/*Open Trigger-Element*/
div.fancy-select div.trigger.open {
  background: #7b7765;
  border: 1px solid #7b7765;
  color: #cbccb4;
  box-shadow: none; }

/*Drodpdown Arrof if Trigger-Element is open*/
div.fancy-select div.trigger.open:after {
  border-top-color: #cbccb4; }

/*Option Container (List of lis)*/
div.fancy-select ul.options {
  background: #ccbf9c; }

/*Option Color (li color)*/
div.fancy-select ul.options li {
  color: #7b7765; }

/*li selected / Option Selected*/
div.fancy-select ul.options li.selected {
  background: #7b7765;
  color: #ccbf9c; }

/*li font-color on hover*/
div.fancy-select ul.options li.hover {
  background-color: #7b7765;
  color: #a79174; }
