/* Color Theme: ROADTRIP */
/*  
    To update themes run following command
    <sass --update themes:themes>
    from css directory
*/
body {
  background-color: #a65639; }

#byTDP {
  color: #583a2a; }

h1 {
  color: #1a232a; }

.optionBtn {
  background-color: #66a5b3;
  color: #583a2a;
  border: 1px solid transparent; }

.optionBtn:hover, .optionBtn:focus {
  background-color: #583a2a !important;
  color: #66a5b3 !important;
  border: 1px solid transparent !important; }

#infoContainer {
  margin: 10px; }

.infoLink {
  color: #1a232a;
  font-weight: bold; }

.infoLink:hover {
  color: #583a2a; }

#tabs > li > a {
  outline: 0; }

#tabs > li.active > a:hover {
  box-shadow: none; }

/*Additional Info Color*/
div.fancy-select {
  color: #583a2a; }

/*Shadow on Focus*/
div.fancy-select select:focus + div.trigger {
  box-shadow: 0 0 0 2px #583a2a; }

/*Trigger-Element*/
div.fancy-select div.trigger {
  background: #583a2a;
  border: 1px solid #583a2a;
  border-top-color: #583a2a;
  color: #66a5b3; }

/*Dropdown Arrow*/
div.fancy-select div.trigger:after {
  border-top-color: #66a5b3; }

/*Open Trigger-Element*/
div.fancy-select div.trigger.open {
  background: #583a2a;
  border: 1px solid #583a2a;
  color: #f1e7e8;
  box-shadow: none; }

/*Drodpdown Arrof if Trigger-Element is open*/
div.fancy-select div.trigger.open:after {
  border-top-color: #f1e7e8; }

/*Option Container (List of lis)*/
div.fancy-select ul.options {
  background: #66a5b3; }

/*Option Color (li color)*/
div.fancy-select ul.options li {
  color: #583a2a; }

/*li selected / Option Selected*/
div.fancy-select ul.options li.selected {
  background: #583a2a;
  color: #66a5b3; }

/*li font-color on hover*/
div.fancy-select ul.options li.hover {
  background-color: #583a2a;
  color: #a65639; }
