/* Color Theme: AMBERDUST */
body {
  background-color: #e4591e; }

#byTDP {
  color: #aaa09a; }

h1 {
  color: #ebe4da; }

#graphBtn {
  background-color: #242222;
  color: #aaa09a;
  border: 1px solid transparent; }

#infoContainer {
  margin: 10px; }

.infoLink {
  color: #ebe4da;
  font-weight: bold; }

.infoLink:hover {
  color: #aaa09a; }

/*Additional Info Color*/
div.fancy-select {
  color: #aaa09a; }

/*Shadow on Focus*/
div.fancy-select select:focus + div.trigger {
  box-shadow: 0 0 0 2px #aaa09a; }

/*Trigger-Element*/
div.fancy-select div.trigger {
  background: #aaa09a;
  border: 1px solid #aaa09a;
  border-top-color: #aaa09a;
  color: #242222; }

/*Dropdown Arrow*/
div.fancy-select div.trigger:after {
  border-top-color: #242222; }

/*Open Trigger-Element*/
div.fancy-select div.trigger.open {
  background: #aaa09a;
  border: 1px solid #aaa09a;
  color: #1f1d1d;
  box-shadow: none; }

/*Drodpdown Arrof if Trigger-Element is open*/
div.fancy-select div.trigger.open:after {
  border-top-color: #1f1d1d; }

/*Option Container (List of lis)*/
div.fancy-select ul.options {
  background: #242222; }

/*Option Color (li color)*/
div.fancy-select ul.options li {
  color: #aaa09a; }

/*li selected / Option Selected*/
div.fancy-select ul.options li.selected {
  background: #aaa09a;
  color: #242222; }

/*li font-color on hover*/
div.fancy-select ul.options li.hover {
  background-color: #aaa09a;
  color: #e4591e; }
