/* Color Theme: OCEAN */
body {
  background-color: #2675a6; }

#byTDP {
  color: #14548c; }

h1 {
  color: #072540; }

#graphBtn {
  background-color: #50a0bf;
  color: #14548c;
  border: 1px solid transparent; }

#infoContainer {
  margin: 10px; }

.infoLink {
  color: #072540;
  font-weight: bold; }

.infoLink:hover {
  color: #14548c; }

/*Additional Info Color*/
div.fancy-select {
  color: #14548c; }

/*Shadow on Focus*/
div.fancy-select select:focus + div.trigger {
  box-shadow: 0 0 0 2px #14548c; }

/*Trigger-Element*/
div.fancy-select div.trigger {
  background: #14548c;
  border: 1px solid #14548c;
  border-top-color: #14548c;
  color: #50a0bf; }

/*Dropdown Arrow*/
div.fancy-select div.trigger:after {
  border-top-color: #50a0bf; }

/*Open Trigger-Element*/
div.fancy-select div.trigger.open {
  background: #14548c;
  border: 1px solid #14548c;
  color: #79c7d9;
  box-shadow: none; }

/*Drodpdown Arrof if Trigger-Element is open*/
div.fancy-select div.trigger.open:after {
  border-top-color: #79c7d9; }

/*Option Container (List of lis)*/
div.fancy-select ul.options {
  background: #50a0bf; }

/*Option Color (li color)*/
div.fancy-select ul.options li {
  color: #14548c; }

/*li selected / Option Selected*/
div.fancy-select ul.options li.selected {
  background: #14548c;
  color: #50a0bf; }

/*li font-color on hover*/
div.fancy-select ul.options li.hover {
  background-color: #14548c;
  color: #2675a6; }
